@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@keyframes activeCard {
  0% {
    transform: translate(-400px, 200px) scale(0.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

:root {
  --max-width: 1900px;
  --black-color: black;
  --blue-color: rgba(1, 70, 254, 1);
  --gray-color-text: rgba(42, 43, 47, 0.8);
  --white-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 20px 24px;
  width: 360px;
  border-radius: 12px;
  font-size: 20px;
  border: 1px solid transparent;
  height: 64px;
  transition: 200ms;
  font-weight: 600;
}

.main-wrapper {
  max-width: var(--max-width);
  width: 100%;
  padding: 70px 100px;
  margin: auto;
}

.travel-section,
.language-section,
.product-section,
.help-section {
  display: grid;
  place-items: center;
}

.travel-section__title,
.language-section__title,
.travel-section__text,
.help-section__title,
.language-section__text {
  text-align: center;
}

.travel-section__title,
.language-section__title,
.product-section__title {
  font-weight: 900;
  font-size: 70px;
  text-align: center;
}

.travel-section__text,
.language-section__text,
.card-wrapper__text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  width: 47%;
  color: var(--gray-color-text);
}

.travel-section__button {
  margin-top: 40px;
}

.language-section {
  padding: 140px 0px;
}
.language-section__title,
.help-section__title,
.product-card__title,
.product-section__title {
  font-size: 60px;
  font-weight: 900;
}

.cards {
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 420px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.04);
  padding: 16px 16px 16px 16px;
  border-radius: 32px;
}

.card-wrapper__title,
.help-card__title {
  font-size: 34px;
  font-weight: 900;
}

.card-wrapper__text {
  width: 100%;
  margin-top: 12px;
}

.card__img {
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 70px;
}

.buttons__button {
  width: auto;
  height: auto;
  padding: 16px, 32px, 16px, 32px;
  z-index: 10;
}
.product-cards {
  margin-top: 30px;
  position: relative;
  display: grid;
  place-items: center;
}

.product-card__items {
  padding-left: 30px;
}

.product-card {
  display: grid;
  grid-template-areas:
    "title img"
    "items img";
  padding: 40px;
  justify-content: space-between;
  column-gap: 70px;
  border-radius: 32px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  z-index: 4;
  background-color: white;
  max-width: 1200px;
  height: 430px;
}

.product-card--1 {
  position: relative;
  animation-name: activeCard;
  animation-duration: 800ms;
  transition-timing-function: ease-in;
}

.product-card__title {
  grid-area: title;
}

.product-card__items {
  grid-area: items;
  align-self: flex-start;
}

.product-card__item,
.help-card__text {
  font-size: 18px;
  color: var(--gray-color-text);
  font-weight: 400;
}

.product-card__img {
  grid-area: img;
}

.product-card--2 {
  position: absolute;
  z-index: 3;
  top: 25px;
  max-width: 1100px;
  width: 100%;
}

.product-card--3 {
  position: absolute;
  z-index: 2;
  top: 50px;
  max-width: 1000px;
  width: 100%;
}

.buttons__button {
  background-color: rgba(244, 246, 253, 1);
  color: rgba(0, 0, 0, 1);
}

.buttons__button--active {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.product-card__button {
  margin-top: 100px;
}

.help-section {
  padding: 65px 0;
  background-color: rgba(244, 246, 253, 1);
}

.help-wrapper,
.help-cards,
.help-card {
  display: grid;
  place-items: center;
}

.help-wrapper {
  width: 70%;
}

.help-cards {
  gap: 56px;
  grid-template-columns: repeat(3, 1fr);
  margin: 70px 0;
}

.help-card {
  text-align: center;
  max-width: 320px;
  display: grid;
  gap: 15px;
}

@media only screen and (max-width: 1350px) {
  .product-card {
    place-items: center;
    gap: 15px;
    grid-template-areas:
      "title"
      "items"
      "img";
    height: 600px;
  }
  .product-card img {
    width: 50%;
  }
}

@media only screen and (max-width: 1020px) {
  .help-cards {
    gap: 56px;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 0;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .travel-section__text,
  .language-section__text,
  .card-wrapper__text {
    width: 80%;
    text-align: center;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .help-cards {
    grid-template-columns: 1fr;
  }
  .buttons__button {
    font-size: 12px;
  }
  .product-card__title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 610px) {
  .product-card__title {
    font-size: 30px;
  }
  .main-wrapper {
    padding: 70px 20px;
  }
  .travel-section__title {
    font-size: 50px;
  }
  .language-section__title,
  .product-section__title,
  .help-section__title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .buttons__button {
    padding: 5px;
  }
  .help-card__title {
    font-size: 25px;
  }
  button {
    width: auto;
    font-size: 18px;
    padding: 5px;
  }
}
